$grafana-background-color: #212124;

panel-plugin-export-manager-panel {
  table#queries {
    table-layout: fixed;

    thead {
      th:last-of-type {
        width: 10%;
      }
      th:not(:last-of-type) {
        width: calc(90%/4);
      }
    }
  }
}

.modal {
  position: relative;
  .timepicker {
    .navbar-button--zoom {
      display: none;
    }
    > div > div {
      &>.navbar-button--tight {
        display: none;
      }
    }
  }
}
